<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>main</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>colorSchemeTitle</string>
			<key>Key</key>
			<string>colorScheme</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>colorSchemeBlue</string>
				<string>colorSchemeGreen</string>
				<string>colorSchemeRed</string>
				<string>colorSchemeOrange</string>
				<string>colorSchemeBlack</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<string>4</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>clearDatabaseTitle</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>clearDatabaseWarning</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>clearHistoryTitle</string>
			<key>Key</key>
			<string>clearHistory</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>clearUsersTitle</string>
			<key>Key</key>
			<string>clearUsers</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>zchatDefaults</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>zchatDefaultsWarning</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>serverHost</string>
			<key>Key</key>
			<string>serverHost</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<false/>
			<key>Title</key>
			<string>serverUser</string>
			<key>Key</key>
			<string>serverUser</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>serverPassword</string>
			<key>Key</key>
			<string>serverPassword</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>serverPort</string>
			<key>Key</key>
			<string>serverPort</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
